/*
font-family: 'Source Code Pro', monospace;
font-family: 'Source Sans Pro', sans-serif;
*/

*{
    margin: 15px 0;
    padding: 0;
}
  

:root{
    --my-time: 'precious';
    --title-color: #fff;
    --subtitle-color: darkgray;
    --main-color: aliceblue;
    /* --main-color: #F5F5F5; */
    --accent-color: rgb(68,68,221);
    /* --accent-color: #087E8B; */
}
html{
    font-size: 62.5%;
}
body{

    font-size: 1.6rem;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: var(--main-color);
    background-color: #1a1a1a;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='105' viewBox='0 0 80 105'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='death-star' fill='%23000000' fill-opacity='0.4'%3E%3Cpath d='M20 10a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm15 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zM20 75a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zm30-65a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V10zm0 65a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V75zM35 10a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zM5 45a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10zm60 35a5 5 0 0 1 10 0v50a5 5 0 0 1-10 0V45zm0-35a5 5 0 0 1 10 0v20a5 5 0 0 1-10 0V10z' /%3E%3C/g%3E%3C/g%3E%3C/svg%3E");

    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 75%;
   
}
h1{
    font-size: 5rem;
    align-self: flex-start;
    color: var(--title-color);
    margin-bottom: 0;
    filter: drop-shadow(10px 5px 4px rgb(68,68,221,1));
}
main > span {
    align-self: flex-start;
    margin-top: 0;
    color: var(--subtitle-color);
    filter: drop-shadow(10px 5px 4px rgb(68,68,221,1));
}
main > p {
    font-size: 1.4rem;
    color: var(--title-color);
}
h2{
    color: var(--accent-color);
    align-self: flex-end;
    transform: rotate(180deg);

}
ul{
    font-family: 'Source Code Pro', monospace;
    list-style-type: none;
    width: 100%;
}
ul li{
    background-color: var(--main-color);
    /* skew background */
    transform: skew(15deg, 0);
    padding: 10px 0;
    
}
ul li *{
    /* skew reverse fix*/
    transform: skew(-15deg, 0);
    margin:0;
}


a{
    color: black;
}
p,
span{
    text-transform: lowercase;
    letter-spacing: normal;
}
h3{
    letter-spacing: 0.2em;
}
@media screen and (max-width: 640px){
    main{
        width: 90%;
    }
    
}

@media screen and (min-width: 960px){
    main{
        width: 50%;
    }
    
}