* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #2c2c2c;
}

body {
  font-family: 'Comic Neue', cursive;
  background-color: #3c3b3b;
  background: url('/bgfield.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  min-height: 100vh;
}

#root {
  padding: 2rem;
}
